{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="mb-4">{{ 'caption.sign_in' | zendTranslate }}</h1>

            {% if error | default %}
                <div class="alert alert-danger"
                     role="alert">{{ error }}</div>
            {% endif %}

            {{ form | raw }}

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-right">
                <dl>
                    <dt>Username:</dt>
                    <dd><tt>bruce</tt> …oder… <tt>clark</tt></dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>Password:</dt>
                    <dd><tt>test1234</tt></dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
